{% extends 'client/layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}

<section class="about">

    <div class="about-container">

        <!-- VIDEO -->
        <div class="about-video">
            <iframe 
                src=https://www.youtube.com/embed/A52o4rdjioc
                frameborder="0"
                allowfullscreen>
            </iframe>
           <div class="about-content">
        <h1>Trường Đại học Công nghệ Đông Á</h1>
        <h2>(East Asia University of Technology - EAUT)</h2>

      <div class="about-text">

    <p>
  Trường Đại học Công nghệ Đông Á được Thủ tướng chính phủ ký quyết định thành lập ngày 09/12/2008 theo quyết định số 1777/QĐ-TTg, là trường đại học đa ngành nằm trong hệ thống giáo dục quốc dân. Triết lý giáo dục của nhà trường “Học phải có việc làm”, EAUT khẳng định là trường đại học đào tạo sinh viên phát triển toàn diện kiến thức chuyên môn và kỹ năng nghề nghiệp, năng động – bản lĩnh – tự tin hội nhập với cộng đồng quốc tế, đảm nhận tốt công việc trong môi trường đa lĩnh vực, đa văn hóa.
    </p>

    <p>
 Trường đào tạo các trình độ: Đại học chính quy, Thạc sĩ. Trường đào tạo 34 ngành và chuyên ngành với 3 khối ngành cơ bản gồm: Khối ngành Kỹ thuật, Khối ngành Kinh tế, Khối ngành Sức khỏe. Đào tạo hệ thạc sĩ gồm 05 ngành là Thạc sĩ Quản trị Kinh doanh, Thạc sĩ Kế toán, Thạc sĩ Công nghệ Thông tin, Thạc sĩ Du lịch và Thạc sĩ Điện – Điện tử.
    </p>

    <p>
  Với mục tiêu trở thành một trong những trường đại học hàng đầu của Việt Nam và trong khu vực, Trường đại học Công nghệ Đông Á đã quy tụ đông đảo đội ngũ cán bộ giảng dạy tâm huyết, giàu kinh nghiệm thực tế, có học hàm, học vị cao, là những giáo sư đầu  ngành trong giảng dạy và nghiên cứu khoa học. Nhiều Giáo sư, Phó giáo sư, Tiến sĩ Khoa học, Tiến sĩ đã và đang giảng dạy ở nhiều trường đại học lớn trong và nước ngoài. Hiện tại, Trường có 738 cán bộ, trong đó có 4 Giáo sư; 27 Phó Giáo sư; 98 Tiến sĩ và 427 Thạc sĩ.
    </p>

    <p>
Trường đang triển khai hợp tác về đào tạo với một số Trường Đại học, Viện nghiên cứu có uy tín ở một số nước trên thế giới để trao đổi giáo viên và chương trình giảng dạy, tiến tới việc đào tạo sinh viên cả ở trong và ngoài nước, cũng như cấp bằng Quốc tế cho một số chuyên ngành. Liên kết đào tạo quốc tế các chương trình 1+3, 2+2, 3+1, dự bị đại học và du học tại nhiều nước trên thế giới.
    </p>

    <h4>Trường Đại học Công nghệ Đông Á đào tạo các ngành:</h4>

    <ul>
        <li>Công nghệ Thông tin</li>
        <li>Thiết kế đồ họa số</li>
        <li>Trí tuệ nhân tạo</li>
        <li>Công nghệ Ô tô</li>
        <li>Cơ điện tử</li>
        <li>Kỹ thuật xây dựng</li>
        <li>Kế toán</li>
        <li>Marketing</li>
        <li>Ngôn ngữ Anh</li>
        <li>Ngôn ngữ Hàn</li>
        <li>Dược học</li>
        <li>Điều dưỡng</li>
        <li>logistics và quản lí chuỗi cung ứng</li>
         <li>luật</li>
          <li>Kiến trúc nội thất</li>
           <li>Công nghệ thực phẩm</li>
            <li>Điện lạnh và điều hào không khí</li>

             <li>Cơ khí</li>
    </ul>


<p>
  Với mục tiêu đào tạo ra những chuyên gia có trình độ cao đáp ứng được nhu cầu thực tế của doanh nghiệp. Trường đại học Công nghệ Đông Á đã và đang triển khai phương pháp giảng dạy theo hướng “ACTIVE LEARNING” thực hành ứng dụng kết hợp các giáo trình tiên tiến hiện được sử dụng ở trong nước và các nước công nghiệp phát triển trên thế giới. Các sinh viên được thực tập thực tế hưởng lương ngay từ năm thứ nhất.
    </p>

    <p>
 Thế mạnh vượt trội của EAUT là có Tập đoàn POLYCO bảo trợ và phát triển. Với thế mạnh hơn 20 năm kinh nghiệm trong lĩnh vực công nghệ cơ khí chế tạo máy và công nghiệp phụ trợ, tập đoàn POLYCO đóng góp một phần không nhỏ về cơ sở vật chất, tài chính, nhân lực tạo điều kiện cho thầy và trò tại EAUT giảng dạy và học tập tốt nhất. Ngoài ra sinh viên được thực tập trực tiếp tại các doanh nghiệp hàng đầu là đối tác của Tập đoàn Polyco như: Sabeco, Vinamilk, Siemens, Rockwell, Viettel, Vinfast, Google…
    </p>

    <p>
  Đại học Công Nghệ Đông Á cơ sở Hà Nội có địa chỉ tại tòa nhà POLYCO đường Phan Tây Nhạc, Phường Xuân Phương, TP. Hà Nội. Đây là một ví trí vị trí đắc địa nằm ngay trung tâm thành phố, giao thông thuận lợi cách bến xe Mỹ Đình 4km, sân vận động Mỹ Đình 3km, có nhiều tòa nhà trung tâm thương mại tạo điều kiện cho sinh viên học tập và phát triển.
    </p>

    <p>
Đại học Công Nghệ Đông Á cơ sở Bắc Ninh tại làng Đại học, Phường Võ Cường, Tỉnh Bắc Ninh. Trường xây dựng các hạng mục trên khuôn viên 8 ha, diện tích 6.000 m2 đã được đưa vào sử dụng. Trường có khu ký túc xá để phục vụ sinh viên ở xa có nhu cầu.
    </p>

    <h3>ĐỊA CHỈ LIÊN HỆ, GỬI THƯ VÀ NHẬP HỌC</h3>
</div>

    </div>

        </div>

        <!-- FORM NHỎ BÊN PHẢI -->
        <div class="about-form">
            <input type="text" placeholder="Tên sinh viên *">
            <input type="text" placeholder="Điện thoại *">
            <input type="text" placeholder="Địa chỉ *">

            <select>
                <option>Ngành xét tuyển</option>
            </select>

            <select>
                <option>Cơ sở đào tạo</option>
            </select>

            <!-- BUTTON -->
            <button class="btn red">Tuyển sinh sau Đại học</button>
            <button class="btn orange">Tuyển sinh Đại học</button>
            <button class="btn green">Học bổng</button>
            <button class="btn blue">Việc làm</button>
            <button class="btn purple">Đăng ký học</button>
        </div>

    </div>

<section class="map-section">


    <div class="map-box">
        
        <h3>Cơ sở Hà Nội</h3>
<iframe src="https://www.google.com/maps?q=Phan+Tây+Nhạc+Hà+Nội&output=embed"></iframe>

<h3>Cơ sở Bắc Ninh</h3>
<iframe src="https://www.google.com/maps?q=Võ+Cường+Bắc+Ninh&output=embed"></iframe>
    </div>

</section>
</section>

{% endblock %}