<footer class="footer">

    <div class="footer-container">

        <!-- CƠ SỞ HÀ NỘI -->
        <div class="footer-col">
            <h3>CƠ SỞ HÀ NỘI</h3>
            <p>Đại học Công Nghệ Đông Á</p>
            <p>Quyết định thành lập: 1777/QĐ-TTg</p>
            <p>Đường Phan Tây Nhạc, Hà Nội</p>
            <p>Điện thoại: 0243.555.2008</p>
            <p>Email: tuyensinh@eaut.edu.vn</p>
        </div>

        <!-- CƠ SỞ BẮC NINH -->
        <div class="footer-col">
            <h3>CƠ SỞ BẮC NINH</h3>
            <p>Đại học Công Nghệ Đông Á</p>
            <p>Làng Đại học, Võ Cường, Bắc Ninh</p>
            <p>Điện thoại: 0243.555.2008</p>
            <p>Email: tuyensinh@eaut.edu.vn</p>
        </div>

        <!-- MẠNG XÃ HỘI -->
        <div class="footer-col">
            <h3>MẠNG XÃ HỘI</h3>
            <div class="social">
                <span>https://www.facebook.com/dhcnDongA</span>
                <span>https://www.instagram.com/daihoccongnghedonga/</span>
                <span>https://www.tiktok.com/@daihoccongnghedonga?lang=vi-VN</span>
                <span>https://www.youtube.com/channel/UCwYTgSfbu6Cmoe8VcAhkTcg</span>
            </div>

            <h3 class="mt">CÁC ĐIỀU KHOẢN</h3>
            <p>Điều khoản sử dụng</p>
            <p>Chính sách bảo mật</p>
        </div>

        <!-- LOGO -->
        <div class="footer-col logo-col">
            <img src="{{ url_for('static', filename='images/logoSaleNoti.png') }}">
        </div>

    </div>

</footer>