{% extends 'client/layout.html' %}

{% block content %}
<!-- BANNER -->
<section class="ts-banner">
    <div class="ts-overlay">
        <h1>ĐĂNG KÝ TUYỂN SINH 2026</h1>
        <p>Cơ hội vào đại học – Đăng ký ngay hôm nay</p>
    </div>
</section>

<section class="form-section">

    <h1>ĐĂNG KÝ THÔNG TIN TUYỂN SINH NĂM 2026</h1>

    <form class="form-grid">

        <input type="text" placeholder="Tên sinh viên *">
        <input type="text" placeholder="Điện thoại *">

        <input type="email" placeholder="Email *">
        <input type="text" placeholder="CMND/CCCD *">

        <select>
            <option>Ngành xét tuyển</option>
        </select>

        <select>
            <option>Quốc gia</option>
        </select>

        <select>
            <option>Tổ hợp xét tuyển</option>
        </select>

        <input type="text" placeholder="Dân tộc">

        <input type="text" placeholder="Địa chỉ">

        <select>
            <option>Phương thức xét tuyển</option>
        </select>

        <input type="text" placeholder="Điểm xét tuyển">

        <select>
            <option>Cơ sở đào tạo</option>
        </select>

        <!-- BUTTON -->
        <div class="full">
            <button type="submit">Đăng ký xét tuyển</button>
        </div>

    </form>

</section>

{% endblock %}